<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>booksFilePath</param-name>
        <param-value>/WEB-INF/books.txt</param-value>
    </context-param>
    <servlet>
        <servlet-name>DFJMDisplayBooksServlet</servlet-name>
        <servlet-class>club.admin.DFJMDisplayBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DFJMAddBookServlet</servlet-name>
        <servlet-class>club.admin.DFJMAddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DFJMLoanServlet</servlet-name>
        <servlet-class>club.cart.DFJMLoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DFJMCartServlet</servlet-name>
        <servlet-class>club.cart.DFJMCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DFJMClearCartServlet</servlet-name>
        <servlet-class>club.cart.DFJMClearCart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DFJMDisplayBooksServlet</servlet-name>
        <url-pattern>/DFJMDisplayBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DFJMAddBookServlet</servlet-name>
        <url-pattern>/DFJMAddBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DFJMLoanServlet</servlet-name>
        <url-pattern>/DFJMLoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DFJMCartServlet</servlet-name>
        <url-pattern>/DFJMCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DFJMClearCartServlet</servlet-name>
        <url-pattern>/DFJMClearCart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DFJMIndex.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/DFJMError.jsp</location>
    </error-page>
</web-app>
